*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
}

header{
    background-color: #F55A5A;
    height: 65px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1{
    color: #fff;
}

.card{
    display: flex;
    margin: 1em 1.5em;
}

.card .image{
    width: 500px;
    border-radius: 15px;
}

.card .info{
    padding: 1em;
}

.location{
    letter-spacing: 2px;
    margin-right: 10px;
    text-transform:uppercase;
}

.gmap{
    color: #918E9B;
    text-decoration: underline;
}

.info h1{
    font-size: 3rem;
}

.date{
    margin-top: 20px;
    font-weight: bolder;
    font-size: 1.25em;
}

.descp{
    margin-top: 15px;
    width: 70%;
    font-size: 1.2em;
}

@media screen and (max-width:1000px) {
    .descp{
        width: 100%;
    }
}

@media screen and (max-width:900px) {
    .info h1{
        font-size: 2em;
    }
}

@media screen and (max-width:850px) {
    .descp{
        font-size: 1em;
    }
    .date{
        font-size: 1.1em;
    }
    .gmap{
        font-size: 1em;
    }
    .location{
        font-size: 1em;
    }
}

@media screen and (max-width:800px) {
    .card .image{
        width: 300px;
    }
}

@media screen and (max-width:600px) {
    .card .image{
        width: 180px;
        height: 180px;
        image-orientation: initial;
    }
}